node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.log
.idea/*
web-build/
functions/
src/screens/AlgoliaSearchScreen.js
src/screens/LandingScreen.js
ServiceAccountKey.*

# macOS
.DS_Store
